<!DOCTYPE html>

  <html>
    <head>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    </head>
    <body>
      <br><center><font size="32"><b>{{question}}</b></font>
      <br><br><img src="/static/brian.png" alt="Brian" height="32">
      <br>says...
      </center>
      <div class="pure-g">
	<div class="pure-u-1">
	  <table class="pure-table">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Frequency</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for name in names_dict %}
	      <tr>
	      <td>{{ name }}</td>
	      <td>{{ names_dict[name] }}</td>
	      </tr>
	      {%endfor%}
	    </tbody>
	  <table>
	</div>
      </div>
    </body>
  </html>
